.skill {
  width: 100%;
  display: table;
  margin-bottom: 20px; }
  .skill .skill_name {
    padding-bottom: 10px;
    display: table-cell;
    width: 200px;
    text-transform: uppercase; }
  .skill .skill_bar {
    border: 1px solid #fff;
    display: inline-block;
    width: 200px; }
  .skill .skill_value {
    background-color: #fff;
    height: 12px;
    display: block; }

.professional_skills .skill .skill_bar {
  border: none; }

.professional_skills .skill .skill_value {
  background-color: #999; }
